<footer class="footer">
    <div class="container grid grid-4cols">
        <div class="footer-section">
            <h4>Contatti</h4>
            <p>33602, Bielefeld, Germany</p>
            <p>+49 03</p>
            <p>SynergyRecycle.b@gmail.com</p>
        </div>
        
        <div class="footer-section">
            <h4>Social</h4>
            <div class="social-links">
                <a href="#"><img src="assets/img/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="assets/img/linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
    
    <div class="copyright">
        © SynergyRecycle.B 2024
    </div>
</footer>
