<header class="header">
    <nav class="navbar container">
        <a href="/" class="logo">
            <img src="assets/img/logo.png" alt="SynergyRecycle.B Logo">
        </a>
        
        <div class="nav-menu">
            <a href="home.html" class="nav-link">Home</a>
            <a href="servizi.html" class="nav-link">Servizi</a>
            <a href="sostenerci.html" class="nav-link">Sostenerci</a>
            <a href="contattaci.html" class="nav-link">Contattaci</a>
        </div>
    </nav>
</header>
