<nav class="nav-menu">
    <a href="./" class="nav-link">Home</a>
    <a href="./servizi.html" class="nav-link">Servizi</a>
    <a href="./sostenerci.html" class="nav-link">Sostenerci</a>
    <a href="./contattaci.html" class="nav-link">Contattaci</a>
    <a href="roadmap.html" class="menu-item">Roadmap</a>
</nav>

<!-- Menu a tendina per dispositivi mobili -->
<div class="hamburger-container">
    <button id="hamburger-btn" class="hamburger-btn">☰</button>
</div>
<nav id="mobile-nav" class="mobile-nav hidden">
    <a href="./" class="button">Home</a>
    <a href="./servizi.html" class="button">Servizi</a>
    <a href="./sostenerci.html" class="button">Sostenerci</a>
    <a href="./contattaci.html" class="button">Contattaci</a>
    <a href="roadmap.html" class="button">Roadmap</a>
</nav>

<link href="https://fonts.googleapis.com/css2?family=NomeFont&display=swap" rel="stylesheet">

